<div>
<oj-form-layout> 
    <oj-input-number id="ssn" placeholder="Enter SSN" value={{ssn}}></oj-input-number>
    <oj-input-text id="name" placeholder="Enter Name" value="{{name}}"></oj-input-text>
    <oj-input-text id="email" placeholder="Enter Email" value="{{email}}"></oj-input-text>
    <oj-input-password id="password" placeholder="Enter Password" value={{password}}></oj-input-password>
    <oj-input-password id="cpassword" placeholder="Confirm Password" value={{cpassword}}></oj-input-password>
    <oj-input-date id="dob" placeholder="Enter DOB" value={{dob}}></oj-input-date>
    <oj-input-text id="city" placeholder="Enter City" value="{{city}}"></oj-input-text>
    <oj-button type="submit" on-oj-action="{{create}}">Register</oj-button>
</oj-form-layout>
</div>